/*#show-place {
  display: none;
}*/

.place {
  cursor: pointer;
  color: #0088cc;
}

.place:hover {
  text-decoration: underline;
}

#show-place {
  padding-top: 4300px;
}

#userList {
list-style-type: none;
}
